@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham Rounded";
  src: url("/assets/fonts/Gotham-Rounded-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  color-scheme: dark;
}
